@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  overscroll-behavior: none;
}

body {
  line-height: 1;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
  color: #52322B;
  width: 100vw;
}
body::-webkit-scrollbar {
  display: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#webgi-canvas {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  touch-action: none;
  pointer-events: none;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
}

/* LOADER */
.loader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #E6BFBE;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  font-size: 12px;
}
.loader .progress {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background: #52322B;
  transform: scaleX(0);
  transition: transform 1s;
  transform-origin: left;
  z-index: 10;
  margin: 0 5%;
}

/* HEADER SECTION */
.header {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: center;
}
.header .header--container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  opacity: 0;
}
@media (max-width: 600px) {
  .header .header--container {
    justify-content: center;
  }
}
.header .header--container .header--brand {
  color: #52322B;
  font-family: "Archivo", sans-serif;
  font-weight: 200;
  font-size: 1.5625rem;
  line-height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .header--container .header--menu {
  display: inline-flex;
  gap: 1em;
  align-items: center;
}
@media (max-width: 600px) {
  .header .header--container .header--menu {
    display: none;
  }
}
.header .header--container .header--menu li {
  padding: 10px 30px;
  color: #52322B;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  pointer-events: all;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .header--container .header--menu li svg path {
  transition: all 0.4s ease-in-out;
}
.header .header--container .header--menu li:hover {
  color: #BB4C33;
}
.header .header--container .header--menu li:hover svg path {
  stroke: #BB4C33;
}

.side-bar {
  position: fixed;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
  opacity: 0;
}
@media (max-width: 600px) {
  .side-bar {
    display: none;
  }
}
.side-bar .navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.side-bar .navigation ul li {
  display: block;
  border-radius: 50%;
  background: #ffffff;
  width: 6px;
  height: 6px;
  margin: 8px 0;
  text-indent: -999px;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  opacity: 0.5;
  transition: all ease-out 250ms;
}
.side-bar .navigation ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: height 0.3s ease;
}
.side-bar .navigation ul li.active {
  opacity: 1 !important;
  transform: scale(1.5);
}
.side-bar .navigation ul li:hover::after, .side-bar .navigation ul li.active::after {
  height: 100%;
}

/* NIGHT MODE */
.night--mode--filter {
  filter: invert(1);
}

/* FOOTER MENU */
.footer--container {
  position: fixed;
  display: none;
  bottom: 40px;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  z-index: 2;
  /* MATERIALS */
}
.footer--container .footer--menu {
  opacity: 0;
  transform: translateY(150%);
}
.footer--container .footer--menu ul {
  list-style: none;
  display: inline-flex;
  gap: 3em;
  margin: 0;
  padding: 0;
}
.footer--container .footer--menu > ul li {
  pointer-events: auto;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
.footer--container .footer--menu > ul li:hover {
  transform: translateY(-5px) !important;
}
.footer--container .footer--menu > ul li.active::after {
  content: "";
  transform: translate3d(35%, 0, 0) translateY(10px);
  width: 20px;
  height: 3px;
  background: #5a3540;
  border-radius: 10px;
  display: block;
}
.footer--container .footer--menu img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.footer--container .gem--menu {
  position: absolute;
  border: 1px solid;
  bottom: 90px;
  background: rgba(255, 255, 255, 0.8784313725);
  border-radius: 50px;
  padding: 20px 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  /* backdrop-filter: blur(5px); */
}
@media (max-width: 600px) {
  .footer--container .gem--menu {
    width: 75%;
    overflow-x: scroll;
    bottom: 70px;
    padding: 20px 30px;
  }
}
.footer--container .gem--menu > ul {
  list-style: none;
  display: inline-flex;
  gap: 2em;
  margin: 0;
  padding: 0;
}
.footer--container .gem--menu li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.footer--container .gem--menu li img {
  margin-top: 7px;
  transition: all 0.8s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.footer--container .gem--menu li img:hover {
  opacity: 1;
  transform: scale(1.2);
}
.footer--container .gem--menu li.active::after {
  content: "";
  width: 60px;
  height: 60px;
  /* background: #5a3540; */
  border-radius: 50px;
  position: absolute;
  top: 10px;
  border: 1px solid #d4b1b1;
}
.footer--container .gem--menu.show {
  visibility: visible;
  opacity: 1;
}
.footer--container .close-gems {
  margin-top: 5px;
}
.footer--container .materials--menu {
  position: absolute;
  border: 1px solid;
  bottom: 90px;
  background: rgba(255, 255, 255, 0.8784313725);
  border-radius: 50px;
  padding: 20px 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  /* backdrop-filter: blur(5px); */
}
@media (max-width: 600px) {
  .footer--container .materials--menu {
    width: 75%;
    overflow-x: scroll;
    bottom: 70px;
    padding: 20px 30px;
  }
}
.footer--container .materials--menu > ul {
  list-style: none;
  display: inline-flex;
  gap: 3em;
  margin: 0;
  padding: 0;
}
.footer--container .materials--menu li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.footer--container .materials--menu li img {
  transition: all 0.8s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  width: 50px;
}
.footer--container .materials--menu li img:hover {
  opacity: 1;
  transform: scale(1.2);
}
.footer--container .materials--menu li.active::after {
  content: "";
  width: 90px;
  height: 60px;
  /* background: #5a3540; */
  border-radius: 50px;
  position: absolute;
  top: 7px;
  border: 1px solid #d4b1b1;
}
.footer--container .materials--menu.show {
  visibility: visible;
  opacity: 1;
}
.footer--container .close-materials {
  margin-top: 5px;
}

/* HERO SECTION */
.section {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100vw;
  overflow: hidden;
}

.hero--container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  z-index: 2;
}
@media (max-width: 600px) {
  .hero--container {
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    left: 0;
  }
}
.hero--container .hero--content {
  width: 100%;
  max-width: 500px;
  margin-right: 30%;
}
@media (max-width: 600px) {
  .hero--container .hero--content {
    margin-right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    justify-content: space-between;
  }
}
.hero--container .hero--content h1 {
  position: relative;
  left: -12px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 7.75rem;
  line-height: 87%;
  letter-spacing: -0.04em;
  color: #52322B;
  text-align: right;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .hero--container .hero--content h1 {
    left: unset;
    font-size: 4.375rem;
    margin-bottom: 0;
    margin-top: 75px;
    text-align: center;
  }
}
.hero--container .hero--content p {
  font-weight: 200;
  font-size: 0.8125rem;
  line-height: 180%;
  text-align: right;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .hero--container .hero--content p {
    margin: 0 auto 30px;
    width: 85%;
    text-align: center;
  }
}
.hero--container .hero--content .button {
  background-color: transparent;
  width: 155px;
  height: 60px;
  border: 1px solid #52322B;
  border-radius: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 200;
  font-size: 0.9375rem;
  letter-spacing: -0.04em;
  color: #52322B;
  float: right;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  gap: 1em;
  FONT-WEIGHT: 100;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
@media (max-width: 600px) {
  .hero--container .hero--content .button {
    margin: 0 auto 100px;
    float: none;
  }
}
.hero--container .hero--content .button svg path {
  transition: all 0.8s ease-in-out;
}
.hero--container .hero--content .button:hover {
  border-color: #BB4C33;
  color: #BB4C33;
  transform: translateY(-3px);
}
.hero--container .hero--content .button:hover svg path {
  stroke: #BB4C33;
}

.hero--scroller--container {
  bottom: 30px;
  align-items: center;
  width: 170px;
  align-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}
.hero--scroller--container .hero--scroller {
  opacity: 0;
  cursor: pointer;
}
.hero--scroller--container .hero--scroller .hero--scroller--text {
  font-size: 0.5625rem;
  color: #52322B;
  letter-spacing: normal;
  margin-bottom: 8px;
  transition: all 0.8s ease-in-out;
}
@media (max-width: 600px) {
  .hero--scroller--container .hero--scroller .hero--scroller--text {
    display: none;
  }
}
.hero--scroller--container .hero--scroller .bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.hero--scroller--container .hero--scroller .bounce path {
  transition: all 0.8s ease-in-out;
}
.hero--scroller--container .hero--scroller:hover .hero--scroller--text {
  color: #BB4C33;
}
.hero--scroller--container .hero--scroller:hover .bounce path {
  stroke: #BB4C33;
}

/* FOREVER SECTION */
.forever--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0;
  z-index: 2;
}
@media (max-width: 600px) {
  .forever--container {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
}
.forever--container.fixed {
  position: fixed;
  top: 50%;
}
.forever--container .forever--content {
  width: 320px;
  margin-left: 20%;
}
@media (max-width: 600px) {
  .forever--container .forever--content {
    margin-left: 0;
    margin-top: 10%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.forever--container .forever--content h1 {
  position: relative;
  left: -4px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 7.75rem;
  line-height: 69%;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .forever--container .forever--content h1 {
    font-size: 5rem;
    left: 0;
  }
}
.forever--container .forever--content h2 {
  margin-bottom: -16px;
  font-weight: 400;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: -0.04em;
  padding-left: 76px;
}
@media (max-width: 600px) {
  .forever--container .forever--content h2 {
    margin-bottom: -14px;
    font-size: 2.8125rem;
    padding-left: 48px;
  }
}
.forever--container .forever--content p {
  font-weight: 200;
  font-size: 0.8125rem;
  line-height: 180%;
}
@media (max-width: 600px) {
  .forever--container .forever--content p {
    text-align: center;
  }
}
.forever--container .forever--text-bg {
  font-weight: 400;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 33.3125rem;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #CB6B56;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-70%);
  pointer-events: none;
}
@media (max-width: 600px) {
  .forever--container .forever--text-bg {
    font-size: 15.625rem;
    left: 50%;
    top: -6%;
    transform: translateX(-50%);
  }
}

/* EMOTIONS SECTION */
.emotions--container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
.emotions--container .emotions--content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .emotions--container .emotions--content {
    justify-content: space-between;
    height: 100vh;
  }
}
.emotions--container .emotions--content .emotions--text {
  margin-top: 80px;
  text-align: center;
}
@media (max-width: 600px) {
  .emotions--container .emotions--content .emotions--text {
    margin-top: 30px;
  }
}
.emotions--container .emotions--content .emotions--text h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 7.125rem;
  line-height: 100%;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .emotions--container .emotions--content .emotions--text h1 {
    font-size: 4.0625rem;
  }
}
.emotions--container .emotions--content .emotions--text h2 {
  margin-bottom: -16px;
  font-weight: 400;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -0.04em;
}
.emotions--container .emotions--content .emotions--text p {
  width: 70%;
  font-weight: 200;
  font-size: 13px;
  line-height: 180%;
  text-align: center;
  margin: 0 auto 40px;
}
.emotions--container .emotions--content .btn-customize {
  background-color: #ffffff;
  width: 164px;
  height: 50px;
  border: 1px solid #52322B;
  border-radius: 58px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 200;
  font-size: 0.9375rem;
  letter-spacing: -0.04em;
  color: #52322B;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
@media (max-width: 600px) {
  .emotions--container .emotions--content .btn-customize {
    margin-bottom: 40px;
  }
}
.emotions--container .emotions--content .btn-customize svg path {
  transition: all 0.8s ease-in-out;
}
.emotions--container .emotions--content .btn-customize:hover {
  box-shadow: inset 0 0 60px #c04040;
  color: #ffffff;
  transform: translateY(-3px);
}
.emotions--container .emotions--content .btn-customize:hover svg path {
  stroke: #ffffff;
}
.emotions--container .emotions--text-bg {
  font-weight: 400;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 33.3125rem;
  line-height: 50%;
  letter-spacing: -0.04em;
  color: #CB6B56;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
@media (max-width: 600px) {
  .emotions--container .emotions--text-bg {
    font-size: 15.625rem;
  }
}

.exit--container {
  display: none;
  width: 100%;
  align-content: center;
  top: 5%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  pointer-events: none;
}
.exit--container .customize--title {
  margin-left: 5%;
  margin-top: -8px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2.5rem;
  flex-grow: 0.9;
}
@media (max-width: 600px) {
  .exit--container .customize--title {
    font-size: 2rem;
    flex-grow: 0.2;
  }
}
.exit--container svg {
  pointer-events: auto;
  cursor: pointer;
}

.button--secondary {
  border-radius: 58px;
  font-weight: 700;
  font-size: 10px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #3d3d3d;
  transition: all 0.4s ease-in-out;
  background-repeat: repeat-x repeat-y;
  z-index: 2;
  padding: 10px 30px;
  border: 1px solid black;
  text-transform: uppercase;
  pointer-events: auto;
  margin-right: 5%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.button--secondary:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #181818;
  pointer-events: auto;
}

/*# sourceMappingURL=src.f382847e.css.map */